@import "../../node_modules/vant/lib/index.less";
// @black-bg: #1e2428;
// @black-main: #313b41;
// @nav-bar-background-color: @black-bg;
// @nav-bar-title-text-color: @white;
// @text-color: #fff;
@red: #d92362;
@button-default-background-color: @red;
@button-default-color: #fff;
// @button-danger-background-color: @red;
// @button-default-border-color: transparent;
// @button-primary-border-color: transparent;
// @button-primary-background-color: transparent;
// @toast-text-color: @black-bg;
// @toast-background-color: rgba(#000, .5);
// @toast-text-color: #fff;
// @toast-default-width: auto;
// .van-dialog__confirm,
// .van-dialog__confirm:active.van-dialog__confirm,
// .van-dialog__confirm:active {
//     color: #fff
// }


// .van-dialog__message {
//     color: @black-main
// }

// .van-cell {
//     background-color: rgba(255, 255, 255, .1)
// }

// .van-password-input {
//     margin: 0
// }

// .van-password-input__security {
//     height: 30px;
//     background: none;
//     max-width: 300px;

//     i {
//         background-color: #fff
//     }
// }

// .van-cell-group {
//     background: none
// }

// .van-actionsheet {
//     color: @black-main
// }

.van-cell__value {
    padding-left: 10px;
}

// .van-tabbar {
//     background-color: @black-bg;
// }

// .van-tabbar-item {
//     // color: #DAC188;
//     color: #827a64;
// }

// .van-tabbar-item--active {
//     color: #DAC188;
//     font-weight: bold;
// }

@search-background-color: #e6e6e6;