@import '../../node_modules/gmcss/stylus/vars.styl'
$colors['red']['2'] = #d92362
$global-font-size = 14px
@import '../../node_modules/gmcss/stylus/flexbox.styl'
@import '../../node_modules/gmcss/stylus/font.styl'
@import '../../node_modules/gmcss/stylus/visibility.styl'
@import '../../node_modules/gmcss/stylus/response.styl'
@import '../../node_modules/gmcss/stylus/layout.styl'
@import '../../node_modules/gmcss/stylus/colors.styl'
$red = #d92362
*
    box-sizing border-box
.round
    border-radius 50%
.shadow
    box-shadow 0 0 1px 0 #666
.shadow-inset
    box-shadow 0 0 1px 0 #666 inset
.text-justify
    text-align justify
.line-mini
    line-height 1.2
.blur-img-bg
    position fixed
    width 100%
    height 100%
    left 0
    top 0
    z-index -10
    filter blur(20px)
    background url('~@/assets/guide-bg.png') no-repeat center center / auto 100%
    opacity 0.2
#app
    position fixed
    width 100%
    height 100%
    left 0
    top 0
    overflow-x hidden
    overflow-y scroll
    -webkit-touch-callout none
    -webkit-overflow-scrolling touch
.app-view
    min-height 100%
.guide
    min-height 100vh
    // background url('~@/assets/guide-bg.png') no-repeat center bottom
    background-size 100% auto
    .van-button
        right 10px
        top 10px
    .animate-item
        opacity 0
        transform translate3d(0, 10px, 0)
        transition all 2s 1s
        &.show
            opacity 1
            transform translate3d(0, 0, 0)
.profile
    flex-direction column
    padding-bottom 50px
    .van-field__label
        font-size 12px
        // opacity .8
        // color: $colors.orange['3']
    .user-greet
        >div
            width 50%
            color inherit
            text-align left
.home
    .tables
        .table
            position relative
            border 5px solid transparent
        img, .table-title
            border-radius 50%
            position absolute
        img
            box-shadow #fff 0 0 2px 0
        .table-title
            width 15vw
            height @width
            line-height @width
            // background-color $black-main
            text-align center
            overflow hidden
            text-overflow ellipsis
            white-space nowrap
            padding 10px
.tableInfo
    .ellipsis-1
        @extend .ellipsis-2
        -webkit-line-clamp 1
.chat
    height 100%
    background url('~@/assets/chat-bg.svg') no-repeat
    background-size 100% auto
    .avatar
        left 10px
        top 10px
    .van-button
        height 30px
        line-height 30px
    >.footer
        >.input
            word-break break-all
            line-height 1.2
            max-height 3.6em
            padding 0.6em
            border-bottom 0
            overflow-x hidden
            overflow-y scroll
            &:empty:before
                content attr(placeholder)
                opacity 0.5
    &-item
        margin-top 10px
        >section
            width auto
            max-width 80%
            border-radius 4px
            padding 6px
        &.adverse
            $color = #a9816d
            >.icon
                color $color
            >section
                background-color $color
        &.me
            $color = #6f7375
            >.icon
                color $color
            >section
                background-color $color
    .message
        padding 10px
        line-height 1.2
    .send
        // border-left: 1px solid $black-main
        min-width 80px
        border-radius 0
    .avatar
        $w = 50px
        $half = ($w / 2)
        width $w
        height $half
        left 10px
        top 40px
        background-color $black-main
        border-bottom-left-radius $w
        border-bottom-right-radius $w
        box-shadow #fff 0 0 1px 0
        border-top 0
        >img
            vertical-align bottom
            width $w
            transform translate3d(0, (- $half), 0)
            // border 6px solid $black-main
.aside-button
    border-top-left-radius 2em
    border-bottom-left-radius 2em
.tixian
    &:after
        content none !important
    .van-cell__label, .van-cell__right-icon
        color inherit
        opacity 0.7
.van-password-input__security
    height 32px