@font-face {
    font-family: "iconfont";
    src: url('iconfont.woff?t=1554545278562') format('woff')
}

.icon {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-qipao:before {
    content: "\e600";
}

.icon-meigui:before {
    content: "\e6af";
}

.icon-biaoqing:before {
    content: "\e666";
}

.icon-jinggao:before {
    content: "\e810";
}

.icon-tupian:before {
    content: "\e626";
}

.icon-luxiang:before {
    content: "\e64e";
}

.icon-xiangji:before {
    content: "\e67e";
}

.icon-flower:before {
    content: "\e60d";
}

.icon-zhifeiji:before {
    content: "\e6a0";
}

.icon-yuyin:before {
    content: "\e6a8";
}

.icon-bubble-left:before {
    content: "\e601";
}

.icon-bubble-right:before {
    content: "\e602";
}

.icon-gift-out:before {
    content: "\e603";
}

.icon-gift-in:before {
    content: "\e604";
}