<template>
  <div class="chat column justify-between">
    <header class="sticky top left row justify-between items-center main-bg pd-xs shadow">
      <img src="~@/assets/avata.png"
           width="40"
           height="40"
           class="round"
           @click="picShow=true">
      <div class="font-16">特污兔..</div>
      <van-icon name="ellipsis"
                @click="show=true"></van-icon>
    </header>
    <div class="body col over-auto-y pd-sm-b">
      <div v-for="(item,index) in transferData"
           :key="item.id"
           class="chat-item row items-center"
           :class="{'justify-end me':item.from,'adverse':!item.from}">
        <div class="font-12 text-center col-full mg-sm-b"
             v-if="item.dateString">{{item.dateString}}</div>
        <div class="font-12 text-center col-full mg-sm-b"
             v-if="item.giftName">
          <icon :name="item.giftType?'flower':'meigui'" />
          <!-- <icon name="flower" /> -->
          您{{item.giftType?'送出':'收到'}}礼物
          <span class="fg-orange">{{item.giftName}}</span>，
          <router-link :to="item.from?'/gift-out':'/gift-in'"
                       class="fg-blue">点击这里</router-link>查看</div>

        <!-- item.from ==1 自己发出的消息 -->

        <template v-if="item.from">
          <van-icon v-if="!item.loading&&item.fail"
                    name="warning-o"
                    class="fg-red font-bold" />
          <van-loading v-if="item.loading"
                       size="14px"
                       class="loading"
                       color="#666" />
        </template>
        <van-icon class-prefix="icon"
                  :name="item.from?'bubble-right':'bubble-left'"
                  :class="item.from?'at-last':''" />
        <section class="fg-white"
                 :class="{'opacity-4':item.fail}"
                 @click="itemHandle(item,index)"
                 v-html="item.text"></section>
      </div>
    </div>
    <!-- <textarea name="" id="" cols="30" rows="10">&#x1F603</textarea> -->
    <footer class="footer main-bg full-width shadow">
      <!-- <div class="col input font-14" contenteditable="true" @focus="showFace=false" tabindex="-1" placeholder="在此输入消息..."></div> -->
      <van-field @focus="showFace=false"
                 ref="textarea"
                 class="message"
                 :border="false"
                 v-model="message"
                 type="textarea"
                 placeholder="请在此输入..."
                 rows="1"
                 :autosize="{maxHeight:66}" />
      <div>
        <div class="row items-center justify-between text-center main-bg-deep">
          <van-button v-for="item in actions"
                      :key="item"
                      size="mini"
                      type="primary"
                      class="col"
                      @click="distribute(item)">
            <icon :name="item"
                  size="16px" />
          </van-button>
          <van-button size="mini"
                      class="send"
                      @click="sendMsg"
                      :disabled="!message">
            <icon name="zhifeiji"
                  size="16px" />
          </van-button>
        </div>
        <emoji :show="showFace"
               @on-click="emojiClick"></emoji>
      </div>
    </footer>
    <aside class="fixed right top-50 font-12 opacity-8"
           style="top:100px">
      <div class="aside-button bg-bluegrey ripple pd-sm-l pd-xs-r">
        <icon name="liwu"
              size="18px" />
      </div>
      <div class="aside-button bg-bluegrey ripple pd-sm-l pd-xs-r mg-md-t">
        <icon name="jiu"
              size="18px" />
      </div>
    </aside>
    <van-popup v-model="picShow"
               class="font-0">
      <img src="~@/assets/avata.png"
           style="width:90vmin;height:90vmin"></van-popup>
    <van-actionsheet v-model="show"
                     :actions="todos"
                     cancel-text="取消"
                     @select="onSelect"
                     @cancel="onCancel" />
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import emoji from '../components/emoji.vue';
import { chatData } from '../mock/mock';
import { ImagePreview } from 'vant';
import { Action } from 'vuex';

@Component({
  components: { emoji },
})
export default class Chat extends Vue {
  picShow: boolean = false;
  showFace: boolean = false;
  showGift: boolean = false;
  showDrink: boolean = false;
  message: string = '';
  actions: string[] = ['biaoqing', 'yuyin', 'tupian', 'xiangji', 'luxiang'];
  chatEle!: HTMLDivElement;
  inputEle!: HTMLDivElement;
  chatData = chatData;
  show: boolean = false;
  todos = [
    {
      name: '举报',
    },
    {
      name: '屏蔽消息',
    },
    {
      name: '拉黑TA',
    },
    {
      name: '查看TA的资料',
      // disabled: true,
    },
  ];
  get transferData() {
    let temp: string = '';
    return this.chatData.map(v => {
      const d: string = JSON.stringify(new Date(v.date)).replace(
        /"|(t\S+)/gi,
        '',
      );
      if (d !== temp) {
        v.dateString = temp = d;
      }
      return v;
    });
  }

  private emojiClick(emoji: string) {
    this.message += emoji;
  }
  private itemHandle(item: chatItem, index: number) {
    if (!item.fail) return;
    this.$dialog
      .confirm({
        message: '消息发送失败，是否重发?',
      })
      .then(() => {
        item.loading = true;
        item.fail = false;
        this.chatData.splice(index, 1);
        this.chatData.push(item);
      });
  }

  private sendMsg() {
    if (!this.message) return;
    this.showFace = false;
    this.chatData.push({
      date: Date.now(),
      userId: 1,
      avatar: '',
      gender: 1,
      text: this.message
        .replace(/</g, '&lt;')
        .replace(/>/g, '&gt;')
        .replace(/\r\n/g, '<br/>')
        .replace(/\n/g, '<br/>')
        .replace(/\s/g, '&nbsp;'),
      from: 1,
      fail: false,
      loading: true,
    });
    this.message = '';
    this.$nextTick(this.goto);
  }
  goto() {
    this.chatEle.scrollTo(0, this.chatEle.scrollHeight);
  }
  private distribute(itemName: string): boolean | void {
    switch (itemName) {
      case 'biaoqing':
        return (this.showFace = !this.showFace);
      case 'yuyin':
        return;
      case 'tupian':
        return;
      case 'xiangji':
        return;
      case 'luxiang':
        return;
    }
  }
  private viewBigPic(): void {}
  private video(): void {}
  private mounted() {
    this.chatEle = document.querySelector('.body') as HTMLDivElement;
    setTimeout(this.goto, 200);
  }
}
</script>
