<template>
  <div class="feedback"
       style="padding-bottom:50px">
    <van-cell-group>
      <van-cell title="反馈类型">
        <div slot="label">
          <van-tag class="mg-xs"
                   type="primary">支付问题</van-tag>
          <van-tag class="mg-xs"
                   type="success">功能异常</van-tag>
          <van-tag class="mg-xs"
                   type="success">产品建议</van-tag>
          <van-tag class="mg-xs"
                   type="success">其他</van-tag>
        </div>
      </van-cell>
      <van-cell title="反馈信息">
        <van-field slot="label"
                   type="textarea"
                   rows="1"
                   v-model="value"
                   autosize
                   style="padding:0"
                   placeholder="在此输入您的反馈信息..." />
      </van-cell>

      <van-cell title="添加图片(选填)"
                class="upload">
        <div slot="label"
             class="images row">
          <div class="row justify-between items-center"
               v-for="item in images"
               :key="item.file.name">
            <img :src="item.content"
                 width="50"
                 height="50">
          </div>
          <van-uploader slot="label"
                        :after-read="onRead"
                        class="text-center add"
                        style="line-height:1"
                        multiple>
            <icon name="add-img"
                  size="50px"></icon>
          </van-uploader>
        </div>
      </van-cell>
      <van-cell title="联系方式（选填）">
        <van-field slot="label"
                   v-model="value"
                   style="padding:0"
                   placeholder="请优先使用您的手机号码" />
      </van-cell>
      <van-cell title="说明">
        <div slot="label"
             class="font-12 fg-orange pd-xs-b">未填写或联系方式无效，则默认为您个人资料中的手机号码</div>
      </van-cell>
    </van-cell-group>
    <van-tabbar>
      <van-button size="large"
                  square
                  :hairline="false">提交反馈</van-button>
    </van-tabbar>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class Home extends Vue {
  private value: string = '';
  private images: uploadImage[] = [];
  private onRead(file: uploadImage) {
    if (this.images.find(v => v.file.name === file.file.name)) return;
    this.images.push(file);
  }
}
</script>

