<template>
  <div>
    <van-cell title="去提现"
              class="tixian items-center sticky top z-max bg-red"
              is-link
              to="/withdrawal"
              label="盈余3个礼物，合计30元">
      <van-icon name="gold-coin-o"
                slot="icon"
                size="24px"
                class="mg-xs-r"></van-icon>
    </van-cell>
    <van-tabs v-model="active"
              type="card"
              swipeable
              lazy-render
              sticky
              offset-top="75"
              >
      <van-tab title="收到的礼物">

        <van-list class="mg-sm-t">
          <van-cell class="items-center"
                    v-for="(item,index) in list"
                    :key="item.id+index"
                    :label="item.time"
                    isLink
                    @click="currrent=index,show=true">
            <div slot="title">{{item.giftName}}
              <span class="font-12 fg-orange pd-sm-l">￥{{item.price}}.00</span>
            </div>
          </van-cell>
        </van-list>
      </van-tab>
      <van-tab title="送出的礼物">
        <van-list class="mg-sm-t">
          <van-cell class="items-center"
                    v-for="(item,index) in list"
                    :key="item.id+index"
                    :label="item.time"
                    isLink
                    @click="currrent=index,show=true">
            <div slot="title">{{item.giftName}}
              <span class="font-12 fg-orange pd-sm-l">￥{{item.price}}.00</span>
            </div>
          </van-cell>
        </van-list>
      </van-tab>
    </van-tabs>
    <van-popup v-model="show"
               position="bottom">
      <van-panel>
        <div slot="header"
             class="van-cell van-panel__header">
          <img :src="item.userAvata"
               width="44"
               height="44"
               class="round">
          <div class="van-cell__title main-fg pd-sm-l">
            <span>{{item.userName}}</span>
            <div class="van-cell__label ellipsis"
                 style="width:calc(100vw - 150px)">小葵花妈妈开课啦，孩子不吃饭，多半是惯的，打一顿就好了</div>
          </div>
          <div class="fg-red font-12">{{active?'送出礼物':'收到礼物'}}</div>
        </div>
        <div>
          <van-cell title="礼品编号"
                    :value="item.id"
                    class="main-fg" />
          <van-cell title="时间"
                    :value="item.time"
                    class="main-fg" />
          <van-cell title="礼物"
                    :value="item.giftName"
                    class="main-fg" />
          <van-cell title="价格"
                    :value="'￥ '+item.price"
                    class="main-fg" />
          <van-cell class="main-fg"
                    v-show="!active">
            <div slot="title">
              <span class="font-12 fg-red">注：显示的价格是购买价格扣除提现手续费后的实际金额。如有疑问请联系商家</span>
            </div>
          </van-cell>
        </div>
        <div slot="footer"
             class="text-right">
          <van-button size="small"
                      type="info"
                      class="mg-xs-r"
                      to="/chat">发消息</van-button>
          <van-button size="small"
                      @click="show=false">关闭</van-button>
        </div>
      </van-panel>
    </van-popup>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
const pic: string = require('../assets/avata.png');
interface item {
  id: string;
  price: number;
  userId?: 123;
  userName: string;
  giftName: string;
  userAvata: string;
  giftId: number;
}
@Component
export default class Guide extends Vue {
  private list: item[] = new Array(20).fill({
    id: '7s08LM09kldj9fKG',
    userAvata: pic,
    price: 22,
    userId: 123,
    userName: '傲娇兔',
    time: '2019-04-10 08:00:00',
    giftName: '小红花',
    giftId: 456,
  });
  private currrent: number = 0;
  private active: number = 0;
  private show: boolean = false;
  get item(): item | Object {
    return this.list[this.currrent] || {};
  }
}
</script>



