<template>
	<van-list>
		<van-cell v-for="item in 50" :key="item" title="2019-04-04 24:00:00">
			<div slot="label" class="row justify-between">
				<div class="row justify-between items-center">2019-04-04 24:00:00</div>
				<div>
					<span class="vt-middle pd-xs-r">送出</span>
					<img src="~@/assets/avata.png" width="40" height="40" class="vt-middle">
				</div>
			</div>
		</van-cell>
	</van-list>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
@Component
export default class Guide extends Vue {}
</script>
