<template>
	<div class="guide row">
		<van-button size="mini"
		            class="absolute"
					to="/">跳过 {{cutTime}}s</van-button>
		<div class="self-center text-center">
			<img class="animate-item"
			     src="@/assets/logo.png"
			     width="80"
			     height="80">
			<div class="animate-item">
				<div>欢迎您进入遇TA</div>
				<div>在这里您可以尽情的享受</div>
				<div>撩与被撩的乐趣！</div>
				<div>喜欢他就撩他吧！</div>
				<div>没准就成功了呢！</div>
			</div>
		</div>
	</div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { setTimeout } from 'timers';
@Component
export default class Guide extends Vue {
  items: HTMLDivElement[] = [];
  timer: any;
  cutTime: number = 5;
  private mounted() {
    Array.from(document.querySelectorAll('.animate-item')).forEach((v, i) => {
      setTimeout(() => {
        v.className += ' show';
	  }, i*1000+300);
    });
    this.timer = setInterval(() => {
      console.error(this.cutTime);
      if (this.cutTime == 0) {
        this.$router.push("/")
        return clearInterval(this.timer);
      }
      this.cutTime--;
    }, 1000);
  }
}
</script>
