<template>
  <div class="home">
    <!-- <Cs-search></Cs-search> -->
    <van-search placeholder="请输入台号，如:A01"
                class="sticky top z-max"
                v-model="searchKey">
      <!-- <div slot="action">搜索</div> 
      <van-button slot="action"
                  size="small">搜索</van-button>-->
    </van-search>
    <div class="row tables gutter-sm pd-xs">
      <router-link to="table/123"
                   class="col-6 col-sm-4 col-md-3 fg-black"
                   v-for="(item, index) in all"
                   :key="index"
                   v-show="filter(item.name)">
        <div class="shadow table">
          <div class="table-title">{{item.name}}</div>
          <img src="~@/assets/avata.png"
               width="30"
               height="30"
               v-for="item in index"
               :key="item+'1'" />
        </div>
      </router-link>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import CsSearch from '@/components/search.vue';
const pic = require(`../assets/avata.png`);
const imgWidth: number = 15;
@Component({
  components: {
    CsSearch,
  },
})
export default class Home extends Vue {
  tables: HTMLElement[] = [];
  el: HTMLElement | null = null;
  users: HTMLImageElement[] = [];
  searchKey: string = '';
  all: { name: string; image: string }[] = [
    { name: 'A01', image: pic },
    { name: 'b02', image: pic },
    { name: 'c03', image: pic },
    { name: 'd04', image: pic },
    { name: 'e05', image: pic },
    { name: 'b06', image: pic },
    { name: 'j07', image: pic },
    { name: 'a08', image: pic },
    { name: '409', image: pic },
    { name: 'a10', image: pic },
  ];
  private filter(name: string) {
    return name.toLowerCase().includes(this.searchKey.toLowerCase());
  }
  private mounted() {
    this.$toast('您已加入1号桌');
    this.tables = Array.from(document.querySelectorAll('.table'));
    const width: number = this.tables[0]!.clientWidth;
    const origin: number = width / 2;
    this.tables.forEach(v => {
      v.style.height = width + 'px';
      this.el = v.querySelector<HTMLDivElement>('.table-title')!;
      this.el.style.cssText = `left:${origin -
        this.el.offsetWidth / 2}px;top:${origin - this.el.offsetHeight / 2}px`;

      this.users = Array.from(v.querySelectorAll('img'));

      const r = origin - imgWidth;
      const angle = 360 / this.users.length;
      this.users.forEach((val, i) => {
        const curAngle = angle * i + 180;
        const x = r + r * Math.sin(Math.PI * curAngle / 180);
        const y = r + r * Math.cos(Math.PI * curAngle / 180);
        val.style.cssText = `left:${x}px;top:${y}px`;
      });
    });
  }
}
</script>
