<template>
	<van-list v-model="loading" :error.sync="error" error-text="请求失败，点击重新加载" @load="onLoad" :immediate-check=true>
		<van-swipe-cell v-for="(item,index) in lsit" :right-width="65" :key="item.id">
			<div class="van-cell">
				<img :src="item.avatar" width="44" height="44" class="round">
				<div class="van-cell__title pd-sm-l">
					<span>{{item.nickName}}</span>
					<div class="van-cell__label ellipsis" style="width:calc(100vw - 100px)" v-html="filter(item.text)"></div>
				</div>
			</div>
			<van-button size="mini" type="danger" class="full-height" slot="right" style="width:65px" @click="handler(index)">
				<van-icon name="delete" size="20px"></van-icon>
			</van-button>
		</van-swipe-cell>
	</van-list>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { VanComponent } from 'vant/types/component';
const pic = require('../assets/avata.png');
@Component
export default class Guide extends Vue {
  private lsit: any[] = [];
  error: boolean = false;
  loading: boolean = false;

  private onLoad() {
    //   fetchSomeThing().catch(() => {
    // this.error = true;
    //   })
    setTimeout(() => {
      this.lsit = [
        {
          id: 1,
          avatar: pic,
          nickName: '特污兔...',
          text: '香蕉你个巴拉。',
        },
        {
          id: 2,
          avatar: pic,
          nickName: '特污兔...',
          text:
            '你怎么能骂人，你怎么能骂人，你怎么能骂人，你怎么能骂人，你怎么能骂人，你怎么能骂人，你怎么能骂人，你怎么能骂人，你怎么能骂人，你怎么能骂人，你怎么能骂人，你怎么能骂人，你怎么能骂人，你怎么能骂人，',
        },
      ];
      this.loading = false;
    }, 2000);
  }
  
  private filter(text: string): string {
    return text.replace(/<br>.*/, '');
  }
  private handler(index: number) {
    this.$dialog
      .confirm({
        message: '确定删除该记录吗？',
      })
      .then(() => {
        this.lsit.splice(index, 1);
      });
  }
}
</script>
