<template>
  <div class="mine">
    <!-- <img src="~@/assets/logo.png" class="blur-img-bg" /> -->
    <van-cell title="头像"
              class="items-center">
      <img src="~@/assets/logo.png"
           width="50"
           height="50"
           class="round" />
    </van-cell>
    <div class="van-cell"
         @click="update('昵称')">
      <div class="pd-lg-r">昵称</div>
      <div class="van-cell__value">特污兔..</div>
    </div>

    <div class="van-cell"
         @click="update('手机号码')">
      <div class="pd-lg-r">手机号码</div>
      <div class="van-cell__value">13412341234</div>
    </div>

    <div class="van-cell"
         @click="update('性别')">
      <div class="pd-lg-r">性别</div>
      <div class="van-cell__value">小姐姐</div>
    </div>

    <div class="van-cell"
         @click="update('地区')">
      <div class="pd-lg-r">地区</div>
      <div class="van-cell__value">北京市 东城区</div>
    </div>

    <div class="van-cell"
         @click="update('个性签名')">
      <div class="w-100">个性签名</div>
      <div class="van-cell__value text-justify">小葵花妈妈开课啦，孩子不吃饭，多半是惯的，打一顿就好了</div>
    </div>
    <div class="van-cell items-center">
      <div class="w-50">标签</div>
      <div class="van-cell__value">
        <van-tag @click="removeTag('标签')"
                 class="mg-xs-l"
                 type="primary">标签</van-tag>
        <van-tag @click="removeTag('标签')"
                 class="mg-xs-l"
                 type="primary">标签</van-tag>
        <van-tag @click="removeTag('标签')"
                 class="mg-xs-l"
                 type="primary">标签</van-tag>
        <van-tag @click="removeTag('标签')"
                 class="mg-xs-l"
                 type="primary">标签</van-tag>
        <van-tag @click="removeTag('标签')"
                 class="mg-xs-l"
                 type="primary">标签</van-tag>
        <van-tag @click="removeTag('标签')"
                 class="mg-xs-l"
                 type="primary">标签</van-tag>
        <van-tag @click="removeTag('标签')"
                 class="mg-xs-l"
                 type="primary">标签</van-tag>
        <van-tag @click="removeTag('标签')"
                 class="mg-xs-l"
                 type="primary">标签</van-tag>
      </div>
      <van-icon @click="update('标签',1)"
                name="add-o"
                size="20px"
                class="mg-xs-l"></van-icon>
    </div>
    <van-cell title="密码"
              value="******"></van-cell>

    <van-tabbar>
      <van-button size="large"
                  to="/">完成</van-button>
    </van-tabbar>

    <van-dialog v-model="showDlg"
                class="main-fg"
                :title="title"
                show-cancel-button>
      <van-field ref="field"
                 v-model="value" />
    </van-dialog>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class Home extends Vue {
  private showDlg: boolean = false;
  private title: string = '';
  private value: string = '';
  private removeTag(tag: string) {
    this.$dialog
      .confirm({
        message: `是否删除名为“${tag}”的标签?`,
      })
      .then(() => {
        this.$toast('删除成功');
      });
  }
  private update(item: string, isAdd: boolean | undefined) {
    this.title = (isAdd ? '新增' : '编辑') + item;
    this.showDlg = true;
    this.value = '测试文字';
    setTimeout(() => {
      (document.querySelector(
        '.van-field__control',
      ) as HTMLInputElement).focus();
    }, 500);
  }
}
</script>
<style lang="stylus">
.mine
  .van-dialog__header
    font-size 12px
    text-align left
    padding 10px 15px
    border-bottom 1px solid #ccc
  .van-field__control
    color #333
</style>
