<template>
  <div>
    <van-cell-group class="order">
      <van-cell class="items-center">
        <div slot="title"
             class="font-0"
             style="line-height:1">
          <img src="~@/assets/avata.png"
               width="50"
               height="50" />
        </div>
        <div class="van-cell__value">一打百威12瓶</div>
      </van-cell>
      <van-cell title="订单编号">
        <span class="pd-xs-r">9SF1k9sf214KL43</span>
        <van-button size="mini"
                    type="default"
                    :data-clipboard-text="test">复制</van-button>
      </van-cell>
      <van-cell title="订单状态1">已付款/退款-等待商家确认</van-cell>
      <van-cell title="订单状态2">
        <span class="pd-xs-r">未支付</span>
        <van-button size="mini"
                    type="default"
                    :data-clipboard-text="test">立即支付</van-button>
      </van-cell>
      <van-cell title="支付时间">2012-01-01 08:00:00</van-cell>
      <van-cell title="支付金额">
        <span class="fg-orange">￥12.00</span>
      </van-cell>
      <van-cell title="收货人">1号台傲娇兔</van-cell>
      <div class="van-cell">
        <div class="van-cell__title full-width">
          <span>商家信息</span>
          <div class="shadow">
            <van-cell title="名称"
                      class="font-12">至尊酒吧</van-cell>

            <van-cell title="地址"
                      class="font-12 line-mini">北京市 八大胡同 八大胡同 八大胡同 八大胡同 八大胡同 </van-cell>

            <van-cell title="联系方式"
                      class="font-12 line-mini">
              <a href="tel:13412341234"
                 class="fg-blue-1 font-underline">13412341234</a>
            </van-cell>

            <van-cell title="投诉"
                      class="font-12 line-mini">
              <router-link to="/"
                           class="fg-blue-1 font-underline">点这里投诉</router-link>
            </van-cell>
          </div>

        </div>
      </div>
    </van-cell-group>

    <van-tabbar>
      <van-button size="large">退款/放弃退款(未支付，已完成不显示)</van-button>
    </van-tabbar>
  </div>
</template>
<script lang="ts">
import clipboard from 'clipboard';
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class Guide extends Vue {
  private test: string = '123123123';
  private copy!: clipboard;
  private mounted() {
    this.copy = new clipboard('.van-button');
    this.copy.on('success', e => this.$toast(`复制成功`));
    this.copy.on('error', e => this.$toast(`浏览器不支持此功能，请手动复制`));
  }
  private beforeDestroy() {
    this.copy.destroy();
  }
}
</script>
<style lang="stylus">
</style>



