<template>
  <div class="profile">
    <img src="~@/assets/avata.png"
         class="blur-img-bg" />
    <div class="text-center"
         style="padding:5vw 0">
      <img src="~@/assets/avata.png"
           class="round">
      <div>特污兔..</div>
    </div>
    <div class="shadow">
      <van-field v-model="hobby"
                 label="TA的爱好"
                 disabled/>
      <van-field v-model="place"
                 label="TA的城市"
                 disabled/>
      <van-field type="textarea"
                 v-model="sign"
                 label="TA的签名"
                 :autosize="true"
                 disabled/>
      <van-cell class="user-greet">
        <div slot="title">
          <span class="van-field__label">收到招呼</span>
          <span class="van-cell__value fg-red">￥20.00</span>
        </div>
        <span class="van-field__label">打出招呼</span>
        <span class="van-cell__value fg-red">￥20.00</span>
      </van-cell>
      <van-cell icon="like">
        <div slot="title"
             class="van-field__label">TA的标签</div>
        <div slot="label">
          <van-tag class="mg-xs"
                   type="primary">标签</van-tag>
          <van-tag class="mg-xs"
                   type="primary">标签</van-tag>
          <van-tag class="mg-xs"
                   type="primary">标签</van-tag>
          <van-tag class="mg-xs"
                   type="primary">标签</van-tag>
          <van-tag class="mg-xs"
                   type="primary">标签</van-tag>
          <van-tag class="mg-xs"
                   type="primary">标签</van-tag>
          <van-tag class="mg-xs"
                   type="primary">标签</van-tag>
          <van-tag class="mg-xs"
                   type="primary">标签</van-tag>
          <van-tag class="mg-xs"
                   type="primary">标签</van-tag>
          <van-tag class="mg-xs"
                   type="primary">标签</van-tag>
        </div>
      </van-cell>
    </div>
    <van-tabbar>
      <van-button size="large"
                  square
                  :hairline="false"
                  to='/chat'>打招呼</van-button>
    </van-tabbar>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class Home extends Vue {
  hobby: string = '摄影，游泳，电竞';
  place: string = '北京市八里庄';
  sign: string = '凭实力单的身，可我很想脱凭实力单的身，可我很想脱凭实力单的身，可我很想脱';
  private submit() {
    if (!this.hobby || !this.place) {
      return this.$toast('请输入您的信息!');
    }
  }
}
</script>
