<template>
  <div>
    <van-cell-group>
      <van-cell title="退款原因">
        <van-field slot="label"
                   style="padding:0"
                   placeholder="请描述退款原因"></van-field>
      </van-cell>
      <van-cell title="添加图片(最多三张)">
        <upload-images slot="label"></upload-images>
      </van-cell>

      <van-cell title="退款商品">
        <div slot="label">
          <div class="van-cell">
            <img src="~@/assets/avata.png"
                 width="50"
                 height="50">
            <div class="van-cell__value self-center pd-sm-l">一打百威12瓶</div>
          </div>
          <div class="van-cell">
            <div>支付时间</div>
            <div class="van-cell__value self-center pd-sm-l">2017-12-12 08:00:00</div>
          </div>

          <div class="van-cell">
            <div>支付金额</div>
            <div class="van-cell__value self-center pd-sm-l fg-orange">￥1200.00</div>
          </div>

          <div class="van-cell">
            <div>收货人</div>
            <div class="van-cell__value self-center pd-sm-l">1号台傲娇兔</div>
          </div>
        </div>
      </van-cell>
    </van-cell-group>
    <van-tabbar>
      <van-button size="large"
                  square
                  :hairline="false">提交退款申请</van-button>
    </van-tabbar>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import uploadImages from '../components/uploadImages.vue';

@Component({
  components: {
    uploadImages,
  },
})
export default class Guide extends Vue {}
</script>



