<template>
  <div class="profile">
    <div class="blur-img-bg"
         :style="{'background-image':wxAllowed?`url(${require('../assets/avata.png')})`:null}"></div>
    <div class="text-center pd-sm-y">
      <van-uploader :after-read="afterRead"
                    class="pd-md"
                    style="line-height:1"
                    accept="image/jpeg,image/jpg,image/png">

        <img v-if="wxAllowed"
             :src="avatar"
             id="avatar"
             width="100"
             height="100"
             class="round" />
        <template v-else>
          <icon name="add-img"
                size="84px"></icon>
          <div class="mg-xs-t font-12 fg-orange">请使用真人头像</div>
        </template>

      </van-uploader>
      <van-field v-model="nickName"
                 clearable
                 placeholder="请输入您的昵称" />
    </div>
    <div class="shadow">
      <van-cell title="完善资料,让TA更懂你"
                label="幽默风趣的介绍会增加您的魅力哦，请认真填写!"
                :border="false" />
      <van-field left-icon='like-o'
                 v-model="hobby"
                 clearable
                 placeholder="例如：摄影，游泳，电竞"
                 label="兴趣爱好" />
      <van-field left-icon="location-o"
                 v-model="place"
                 clearable
                 placeholder="例如：北京市八里庄"
                 label="来自哪里" />
      <van-field left-icon="description"
                 v-model="sign"
                 clearable
                 placeholder="例如：凭实力单的身，可我很想脱"
                 label="个性签名" />

      <van-field left-icon="label-o"
                 v-model="tag"
                 clearable
                 placeholder="如:女王,呆萌。多个请用逗号隔开"
                 label="个人标签">
      </van-field>

    </div>
    <van-tabbar>
      <van-button size="large"
                  square
                  to="/mine"
                  :hairline="false">完成</van-button>
    </van-tabbar>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import * as faceapi from 'face-api.js';
import { MtcnnOptions } from 'face-api.js';
import { VanToast } from 'vant/types/toast';
import { setTimeout } from 'timers';

@Component
export default class Home extends Vue {
  wxAllowed: boolean = false;
  avatar: string = '';
  nickName: string = '';
  hobby: string = '';
  place: string = '';
  sign: string = '';
  tag: string = '';
  isFetchModel: boolean = true;
  async faceDetection(toast: VanToast) {
    if (this.isFetchModel) {
      await faceapi.loadMtcnnModel('/weights');
      this.isFetchModel = false;
    }
    const mtcnnResults = await faceapi.mtcnn(
      document.getElementById('avatar') as HTMLImageElement,
      {
        minFaceSize: 10,
      } as MtcnnOptions,
    );
    toast.clear();
    this.$toast(
      mtcnnResults.length ? `恭喜您，头像合格` : `未检测到人脸，请重新上传`,
    );
  }
  private afterRead(file: uploadImage): void {
    this.avatar = file.content;
    this.wxAllowed = true;
    const toast = this.$toast.loading({
      duration: 0,
      forbidClick: true,
      loadingType: 'spinner',
      message: '正在进行人脸检测...',
    });
    setTimeout(this.faceDetection, 100, toast);
  }
  private submit() {
    if (!this.hobby || !this.place) {
      return this.$toast('请输入您的信息!');
    }
  }
}
</script>
// /usr/lib/nginx
// /usr/sbin/nginx
// /usr/share/doc/nginx
// /usr/share/nginx
// /etc/logrotate.d/nginx
// /etc/init.d/nginx
// /etc/default/nginx
// /etc/nginx
