<template>
  <div class="tableInfo pd-xs">
    <div class="row items-center round-mini mg-sm-b pd-xs-l shadow"
         v-for="item in 10"
         :key="item">
      <img src="~@/assets/avata.png"
           width="60"
           height="60"
           class="round">
      <div class="col over-hidden">
        <router-link to="/profile"
                     class="van-cell">
          <div class="van-cell__title">
            <div class="row justify-between items-center">
              <span>疯狂的兔子</span>
              <van-icon class="pd-xs-y pd-md-l"
                        name="arrow"></van-icon>
            </div>
            <div class="van-cell__label ellipsis"
                 style="width:calc(100vw - 120px)">这家伙很懒，什么也没留下这家伙很懒，什么也没留下这家伙很懒，什么也没留下这家伙很懒，什么也没留下</div>
          </div>
        </router-link>
        <van-cell class="text-right">
          <van-button size="mini"
                      type="warning"
                      to="/greet"
                      >打招呼</van-button>
                      
          <!-- <van-button size="mini" -->
                      <!-- type="info">加好友</van-button> -->
          <van-button size="mini"
                      type="danger">送花</van-button>
        </van-cell>
      </div>
    </div>

  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class Home extends Vue {
  created() {
    document.title = `XX酒吧2号台`;
  }
  mounted() {}
}
</script>


