<template>
  <div>
    <div class="bg-red van-cell van-cell--borderless items-center">
      <i class="van-icon van-icon-balance-o van-cell__left-icon font-24"></i>
      <div class="van-cell__title">
        <span>可提现金额：</span>
        <div class="font-12 opacity-8">目前只支持全额提现</div>
      </div>
      <div class="van-cell__value fg-white font-bold">￥1000.00</div>
    </div>
    <div>
      <van-field v-model="money"
                 label="提现金额："
                 readonly
                 left-icon="gold-coin-o"
                 right-icon="question-o"
                 placeholder="请输入用户名"
                 @click-right-icon="$toast('目前只支持全额提现，提现金额会转入您的微信钱包')" />
      <!-- <van-field v-model="password" type="password" label="二级密码：" placeholder="请输入二级密码" /> -->
      <div class="van-cell van-cell--borderless">
        <div class="van-field__left-icon">
          <i class="van-icon van-icon-goods-collect-o"></i>
        </div>
        <div class="van-cell__title van-field__label">
          <span>二级密码：</span>
        </div>
        <div class="van-cell__value">
          <van-password-input :value="password"
                              info=""
                              @focus="showKeyboard = true" />
        </div>
      </div>
      <div class="van-cell__label pd-sm">
        <div class="fg-orange">
          <i class="van-icon van-icon-eye-o van-cell__left-icon vt-middle"></i>
          <span class="vt-middle">温馨提示：</span>
        </div>
        <div>1.请注意周边，保护好您的密码。</div>
        <div>2.提现成功金额会转入您的微信钱包。</div>
        <div>3.可能会有工作人员联系您以确认是否本人操作。</div>
        <div>4.有任何疑问请
          <a href="tel:123456"
             class="fg-blue-1">致电给我们 </a>或
          <router-link to="/feedback"
                       class="fg-blue-1">反馈给我们</router-link>。</div>
      </div>
    </div>
    <van-tabbar>
      <van-button size="large">提现</van-button>
    </van-tabbar>
    <van-number-keyboard :show="showKeyboard"
                         @blur="showKeyboard = false"
                         class="main-fg"
                         @input="onInput"
                         @delete="onDelete" />
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
@Component
export default class Guide extends Vue {
  money: number = 1000;
  password: string = '';
  showKeyboard: boolean = false;
  onInput(key: string) {
    this.password = (this.password + key).slice(0, 6);
    if (this.password.length === 6) {
      this.showKeyboard = false;
    }
  }
  onDelete() {
    this.password = this.password.slice(0, this.password.length - 1);
  }
  mounted() {
    setTimeout(() => (this.showKeyboard = true), 1500);
  }
}
</script>


