<template>
<transition name="fade" mode="out-in">
  <div class="emoji over-x-hidden over-auto-y pd-xs-y" @click="handle" v-show="show">
    <span v-for="item in emoji" :key="item" v-html="'&#x'+item"></span>
  </div>
</transition>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import emojiData from './emojiData';
@Component
export default class HelloWorld extends Vue {
  @Prop({
    type: Boolean,
    default: false,
  })
  show!: boolean;
  emoji: string[] = emojiData;
  handle(ev: MouseEvent) {
    const el = ev.target as HTMLSpanElement;
    if (el.nodeName.toLowerCase() == 'span') {
      this.$emit('on-click', el.innerText);
    }
  }
}
</script>
<style lang="stylus">
.fade-enter-active, .fade-leave-active {
  height (1.5em * 1.5) * 4 + 0.4 !important
  transition: height .2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  height 0 !important
}
.emoji
  height (1.5em * 1.5) * 4 + 0.4
  // background-color rgba(255, 255, 255, 0.1)
  text-align justify
  >span
    padding 0 0.1em
    font-size 1.5em
</style>
