<template>
  <van-tabbar :fixed="false">
  <van-tabbar-item icon="home-o">标签</van-tabbar-item>
  <van-tabbar-item icon="search" dot>标签</van-tabbar-item>
  <van-tabbar-item icon="friends-o" info="5">标签</van-tabbar-item>
  <van-tabbar-item icon="setting-o" info="20">标签</van-tabbar-item>
</van-tabbar>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class CsSearch extends Vue {
  @Prop() private msg!: string;
  expend: boolean = false;
}
</script>
<style lang="stylus">
.cs-search
  position fixed
  width 44px
  right 0
  top 5vw
  // background-color #1b1f23
  // border-radius 2em 0 0 2em
  // box-shadow 0 0 0 1px #db2466 inset
  z-index 99
  // overflow hidden
  transition all 0.5s cubic-bezier(.37,1.49,.6,1.28)
  box-shadow #000 0 0 1px 0 inset
  opacity 0.5
  &.show
    border-radius 2em
    width 90vw
    right 5vw
    opacity 1
  .van-icon
    padding 0 14px
    line-height 44px
    background-color #db2466
</style>
