<template>
  <div class="images full-width row upload">
    <div class="row justify-between items-center upload-item shadow-inset"
         :style="{'width':size,'height':size}"
         v-for="(item,index) in images"
         :key="item.file.name"
         @click="index=index-1,show=true">
      <img :src="item.content">
    </div>
    <van-uploader slot="label"
                  :after-read="onRead"
                  class="text-center upload-item"
                  :accept="exts.join(',')"
                  style="line-height:1"
                  v-show="images.length<maxCount">
      <icon name="add-img"
            :size="size"></icon>
    </van-uploader>
    <van-actionsheet v-model="show"
                     :actions="actions"
                     cancel-text="取消"
                     @select="choose" />
  </div>
</template>

<script lang="ts">
import { ImagePreview } from 'vant';
import { Component, Prop, Vue } from 'vue-property-decorator';
import { CompressImage } from '@/utils';
interface action {
  name: string;
  disabeld?: boolean;
  loading?: boolean;
}
@Component
export default class uploadImages extends Vue {
  @Prop({
    default: () => ['image/jpg', 'image/jpeg', 'image/png'],
  })
  private exts!: string[];
  @Prop({
    default: '50px',
    type: String,
  })
  private size!: string;

  @Prop({ default: 3 })
  private maxCount!: number;
  private max: number = 100000;
  private index: number = 1;
  private show: boolean = false;
  private actions: action[] = [{ name: '预览' }, { name: '删除' }];
  private images: uploadImage[] = [];
  private compress = new CompressImage();
  private onRead(file: uploadImage) {
    if (!this.exts.includes(file.file.type)) {
      return this.$toast(
        `只支持${this.exts.join(',').replace(/image\//g, '')}格式的图片`,
      );
    }
    console.error(file.file.size);
    if (file.file.size > this.max) {
      return this.$toast(`图片大小不得超过${this.max / 1000}KB,请重新选择`);
    }
    this.images.push(file);
  }
  private choose(item: action) {
    this.show = false;
    console.error(this.index);
    if (item.name == '预览') {
      ImagePreview({
        images: this.images.map(v => v.content),
        startPosition: this.index - 1,
      });
    } else {
      this.$dialog
        .confirm({
          message: '是否删除该图片?',
        })
        .then(() => this.images.splice(this.index - 1, 1));
    }
  }
}
</script>
<style lang="stylus">
.upload
  overflow hidden
  box-shadow #fff 0 0 1px 0
  .upload-item
    margin 4px
  img
    max-width 100%
    max-height 100%
</style>
