<template>
  <div id="app">
    <router-view class="app-view"
                 :style="{'padding-bottom':$store.state.showfooterBar?'50px':'0'}" />
    <van-tabbar v-model="active"
                v-show="$store.state.showfooterBar">
      <van-tabbar-item v-for="(item) in titles"
                       :key="item.name"
                       :to="item.to"
                       :icon="item.icon">
        <div class="text-center">{{item.name}}</div>
      </van-tabbar-item>
    </van-tabbar>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class App extends Vue {
  private titles: { name: string; icon: string; to: string }[] = [
    {
      name: '首页',
      icon: 'home-o',
      to: '/',
    },
    {
      name: '留言板',
      icon: 'envelop-o',
      to: '/leaveMessage',
    },
    {
      name: '消息',
      icon: 'chat-o',
      to: '/message',
    },
    {
      name: '我的',
      icon: 'user-o',
      to: '/mine',
    },
  ];
  private active = 0;
}
</script>


